<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.carscontrols"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="32"
        tools:ignore="GradleOverrides" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE " />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- <uses-permission android:name= "android.permission.CAMERA"/> -->
    <meta-data
        android:name="com.google.android.gms.vision.DEPENDENCIES"
        android:value="ocr" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:name=".app.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CarsControls"
        android:usesCleartextTraffic="true">
        <activity
            android:name="com.example.carscontrols.resultat.ResultatInvalideActivity"
            android:exported="false" />
        <activity
            android:name="com.example.carscontrols.resultat.ResultatValideActivity"
            android:exported="false" />
        <activity
            android:name="com.example.carscontrols.admin_activity.AdminProfileActivity"
            android:exported="false" />
        <!--
        <activity
            android:name="com.example.carscontrols.AdminActivity"
            android:exported="false" />
        -->
        <activity
            android:name="com.example.carscontrols.activity.CobayeActivity"
            android:exported="false" />
        <activity
            android:name="com.example.carscontrols.activity.HistoryActivity"
            android:exported="false" />
        <activity
            android:name="com.example.carscontrols.activity.SettingsActivity"
            android:exported="false" />
        <activity
            android:name="com.example.carscontrols.activity.ProfileActivity"
            android:exported="false" />
        <activity
            android:name="com.example.carscontrols.activity.LoginActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.carscontrols.activity.RegisterActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.example.carscontrols.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop" />
        <activity
            android:name="com.example.carscontrols.AdminActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop" />
        <activity
            android:name="com.example.carscontrols.activity.TestActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustPan" />
        <!--
<activity android:name="com.canhub.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat"/> &lt;!&ndash; optional (needed if default theme has no action bar) &ndash;&gt;
        -->
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="it.polocorese.ocrcamera.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>